/* Remove default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
}

/* Hamburger Menu styles */
.hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.hamburger-icon {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
    cursor: pointer;
}

.hamburger-icon:before,
.hamburger-icon:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
}

.menu-items {
    display: none;
}

.menu-items.show {
    display: block;
}

/* Section styles */
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* Default background color for sections */
}

/* Section styles */
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1 {
    background-color: #f8f9fa;
    /* Light gray */
}

#section-2 {
    background-color: #f8f9fa;
    /* Lighter gray */
}

#section-3 {
    background-color: #ced4da;
    /* Light grayish blue */
}

#section-4 {
    background-color: #adb5bd;
    /* Light grayish blue */
}

.section h2 {
    color: #000;
    text-decoration: none;
    /* Remove underlined text */
    list-style-type: none;
    /* Remove bullet points */
}

.section p {
    color: #000;

}


/* Bold Intro Image Section styles */
.bold-intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./images/MoMA_KI.webp') no-repeat center center fixed;
    background-size: cover;
    height: 50vh;
    /* Set initial height to 50% of viewport height */
}

.bold-intro-image img {
    width: 85%;
    /* Resize image to 90% of its original size */
    height: auto;
    transform: scaleX(0);
    /* Reset initial state of the image */
    transform-origin: center center;
    transition: transform 1s ease-in-out;
}

/* Make image visible after delay */
.bold-intro-image img.unfold {
    transform: scaleX(1);
}

/* Media query for phone view */
@media (max-width: 768px) {
    .bold-intro-image {
        height: 70vh;
        /* Adjust height for phone view */
    }
}

/* Media query for larger screens */
@media (min-width: 1200px) {
    .bold-intro-image {
        height: 100vh;
        /* Adjust height for larger screens */
    }

}

.flip-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 10px;
    border: 1px solid lightgrey;
    /* Light grey border */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
    background-color: #f8f9fa;
    /* Off-white background */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centering content vertically */
    justify-content: center;
    padding: 10px;
    /* Padding to ensure content is not too close to edges */
    text-align: left;
}

.flip-card-front h3 {
    text-align: center;
    /* Centering titles */
    width: 100%;
    /* Ensures the title can center-align correctly */
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.flip-card-back h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

.img-fluid {
    max-height: 100%;
    max-width: 100%;
}

.parallax {
    background-image: url('parallax-bg.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ribbon-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 1;
    padding: 0;
    /* Remove any padding */
    margin: 0;
    /* Remove any margin */
}

.ribbon {
    width: 100%;
    /* Make the ribbon span the full width */
    height: auto;
    /* Maintain aspect ratio */
    opacity: 0.3;
    /* Adjust opacity for transparency */
    transition: opacity 0.5s ease;
}

.ribbon:hover {
    opacity: 1;
    /* Full opacity on hover */
}

#section1,
#section2 {
    position: relative;
    z-index: 0;
}


/* Ensures the sections have no margin */
section {
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    /* Optional: max width to control scaling */
}

.info-glyph {
    position: absolute;
    bottom: 4px;
    left: 10px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    /* Smaller padding */
    z-index: 1;
    width: auto;
    /* Adjust width as needed */
    max-width: 200px;
    /* Smaller max width */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 09px;
    /* Smaller font size */
}

@media (max-width: 600px) {
    .info-glyph {
        font-size: 18px;
        width: 25px;
        height: 25px;
    }

    .popup {
        width: auto;
        max-width: 100px;
        /* Smaller width for small screens */
        font-size: 10px;
        /* Smaller font size for small screens */
    }
}



.ribbon:hover {
    opacity: 1;
    /* Full opacity on hover */
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    position: relative;
}

.collapsible:after {
    content: '\002B';
    /* Unicode character for + sign */
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    /* Unicode character for - sign */
}

.active,
.collapsible:hover {
    background-color: #cecbcb;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.center-text {
    text-align: center;
}